.review-box-details{
    /* background-color: rgb(168, 168, 235); */
    position: absolute;
    border-style: ridge;
    border-width: 20px;
    padding: 20px;
}

.name-star-structure{
    /* background-color: rgb(160, 160, 238); */
    display: flex;
    justify-content: space-around;
    font-weight: bolder;
    
}