.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  width: 15%;
  /* background-color: blue; */
  position: absolute;
  right: 5%;
  top: 5%;
  height: 100px;
}



.logo-air {
  display: flex;
  height: 40px;
  max-width: 50%;
  border-width: 200px;
  
}


