.login_signup {
    border-style: ridge;
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .nav-link {
    text-decoration: none;
    color: #222;
    padding: 5px;
    border-radius: 20px;
    transition: background-color 0.2s;
  }
  
  /* .nav-link:hover {
    background-color: #e64d4d;
    color: #e64d4d;
  } */

  .button{
    /* background-color: rgb(226, 238, 213); */
    /* border-style: double; */
    position: absolute;
    /* display: flex; */
    top: 0%;
    
     
    
  }
  
  .profile-dropdown{
  position: inherit;
  }

  .hidden{
    /* background-color: rgb(127, 211, 43); */
    display: none;
  }

  