

  .nav-link {
    text-decoration: none;
    color: #222;
    padding: 5px;
    border-radius: 20px;
    transition: background-color 0.2s;
  }
  

  .button{
    /* background-color: rgb(226, 238, 213); */
    /* border-style: double; */
    position: absolute;
    /* display: flex; */
    width: 70px;
    top: 0%;
    
     
    
  }
  
  .profile-dropdown{
  position: inherit;
  }

  .hidden{
    /* background-color: rgb(127, 211, 43); */
    display: none;
  }

  .create-spot-link{
    /* background-color: rgb(149, 149, 230); */
    position: relative;
    display: inline-block;
    right: 140px;
    top: -43px;
    width: 155px;
    text-decoration: none;
    /* column-width: 100px; */
  }